<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Anton&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/app.css" />
    <title>Document</title>
</head>
<body>
    <div class="page-container">
        <div class="container">
            <%- include('../views/partials/nav.ejs') %>
            <div class="new-edit">
                <h3>Edit Park</h3>
                <div class="input-container">
                    <form action="/<%= park.id %>?_method=PUT" method="POST">
                        Name: <input class="box" type="text" name="name" value="<%= park.name %>"/><br />
                        State: <input class="box" type="text" name="state" value="<%= park.state %>"/><br />
                        Date of Visit: <input class="box" type="text" name="dov" value="<%= park.dov %>"/><br />
                        Image: <input class="box" type="text" name="img" value="<%= park.img %>"/><br />
                        <input class="add-park" type="submit" name="" value="UPDATE" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
</body>
</html>